# Copy this file to terraform.tfvars and update with your values
# DO NOT commit terraform.tfvars to version control

aws_region  = "us-east-1"
domain_name = "wordoftheday.bastionforge.com"
environment = "production"
